test/fixtures/shared-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  shared-types.xsd – standalone XSD imported by imported.wsdl.
  Contains a PersonType complex type and a Gender enum used to verify that
  types defined in external schemas are merged into the model.
-->
<xs:schema
  targetNamespace="http://example.com/types"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
>

  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element name="firstName" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation><xs:documentation>Given name.</xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="lastName"  type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation><xs:documentation>Family name.</xs:documentation></xs:annotation>
      </xs:element>
      <xs:element name="email"     type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="age"       type="xs:integer" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MALE"/>
      <xs:enumeration value="FEMALE"/>
      <xs:enumeration value="OTHER"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
